.widget-label-container {
  font-family: "SFProText-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* height: 50px; */

}

.labels {
  height: 100%;
}

.widget-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 50%;
}

.widget-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "SFProText-Regular";
  height: 70px;
}

.widget-tag {
  font-family: "SFProText-Regular";
  color: #404145;

  background-color: #F7F9FA;
}

.widget-dots {
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(222, 224, 226);
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  margin: .2rem;
}

.widget-dots:hover {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .widget-tag {
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    font-size: 10px;
    width: 1.5rem;
    align-items: center;
  }

  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 60%;
  }
}


@media (max-width: 870px) {
  .widget-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    font-size: 9px;
    width: 1rem;
    align-items: center;
  }

  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 90%;
  }
}


@media (max-width: 520px) {
  .widget-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    font-size: 8px;
    width: 1rem;
    align-items: center;
  }

  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
  }
}