.widget-label-container {
  font-family: "SFProText-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* flex-wrap: wrap; */

}


.widget-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
  width: 60%;
}

.widget-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "SFProText-Regular";
  height: 70px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SFProText-Regular";
  color: #404145;
  background-color: #F7F9FA;
  border-radius: 4px;
  border: 1px solid #dee0e2 !important;
  box-sizing: border-box;
  font-family: "SFProText-Regular";
  font-size: 16px;
  font-weight: 600;
  width: px;
  height: 25px;
  -ms-word-break: break-all;
  word-break: break-all;
  padding: 6px;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;

}

.widget-dots {
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(222, 224, 226);
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  margin: .2rem;
}

.widget-dots:hover {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .widget-label-container {
    font-family: "SFProText-Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100px;


  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    border-radius: 4px;
    border: 1px solid #dee0e2 !important;
    box-sizing: border-box;
    font-family: "SFProText-Regular";
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    -ms-word-break: break-all;
    word-break: break-all;
    padding: 3px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;

  }

  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    width: 60%;
  }
}

@media (max-width: 950px) {
  .widget-label-container {
    font-family: "SFProText-Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100px;
    /* flex-wrap: wrap; */

  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    border-radius: 4px;
    border: 1px solid #dee0e2 !important;
    box-sizing: border-box;
    font-family: "SFProText-Regular";
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    -ms-word-break: break-all;
    word-break: break-all;
    padding: 3px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;

  }


  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    width: 90%;
  }
}


@media (max-width: 570px) {
  .widget-label-container {
    font-family: "SFProText-Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100px;
    /* flex-wrap: wrap; */

  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    border-radius: 4px;
    border: 1px solid #dee0e2 !important;
    box-sizing: border-box;
    font-family: "SFProText-Regular";
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    -ms-word-break: break-all;
    word-break: break-all;
    padding: 3px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;

  }


  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    width: 90%;
  }
}


@media (max-width: 320px) {


  .widget-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    width: 100%;
  }



  .widget-label-container {
    font-family: "SFProText-Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100px;
    /* flex-wrap: wrap; */

  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SFProText-Regular";
    color: #404145;
    background-color: #F7F9FA;
    border-radius: 4px;
    border: 1px solid #dee0e2 !important;
    box-sizing: border-box;
    font-family: "SFProText-Regular";
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    -ms-word-break: break-all;
    word-break: break-all;
    padding: 3px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;

  }
}